<!DOCTYPE html>


            <h3>Create New User</h3>
            <div class="form-group">
                <label>First Name</label>
                <input name="firstname" id="firstName-input" type="name" class="form-control" placeholder="first name">

              </div>
              <div class="form-group">
                  <label>Last Name</label>
                  <input name="lastname" id="lastName-input" type="name" class="form-control" placeholder="last name">

                </div>

            <div class="form-group">
              <label>Phone Number</label>

              <input name="phone-input" id="phone-input" type="phone number" class="form-control" placeholder="phone number">

            </div>

            <div class="form-group">
              <label>Address</label>

              <input name="address" type="text" class="form-control" placeholder="address">
            </div>



        <button type="submit" id="submit-button" class="btn btn-default">Submit</button>
